In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
print(tf.__version__)

2.3.1

In [7]:
%%bigquery flights_df --verbose
SELECT 
    date
    , airline
    , departure_airport
    , arrival_airport
    , departure_lat
    , departure_lon
    , arrival_lat
    , arrival_lon
    , departure_delay
    , arrival_delay
FROM `bigquery-samples.airline_ontime_data.flights`
WHERE departure_airport = 'SFO' AND date >= '2009-01-01' AND date <= '2009-12-31'

Executing query with job ID: f5528b4e-8ca1-421e-a4be-068b95b51052
Query executing: 3.61s
Query complete after 3.98s

In [8]:
flights_df.shape

(134990, 10)

In [9]:
flights_df.head()

,date,airline,departure_airport,arrival_airport,departure_lat,departure_lon,arrival_lat,arrival_lon,departure_delay,arrival_delay
0,2009-09-29,CO,SFO,EWR,37.61,-122.37,40.69,-74.16,-3.0,-28.0
1,2009-09-29,CO,SFO,EWR,37.61,-122.37,40.69,-74.16,10.0,-13.0
2,2009-09-29,CO,SFO,EWR,37.61,-122.37,40.69,-74.16,-5.0,-16.0
3,2009-09-07,CO,SFO,EWR,37.61,-122.37,40.69,-74.16,6.0,-4.0
4,2009-09-29,CO,SFO,EWR,37.61,-122.37,40.69,-74.16,-6.0,-16.0

In [10]:
type(flights_df)

pandas.core.frame.DataFrame

In [ ]:
proccessed_df = (flights_df,
                 .query()
                 .dropna()
                 .filter()
                )